@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Internet Explorer, Edge, and Firefox */
.scroll-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
